fastapi
uvicorn
# Core & Tools
requests
python-dotenv

# Development (Hephaestus)
pytest

# QA Automation (Artemis)
robotframework
robotframework-requests
robotframework-seleniumlibrary

sqlalchemy
chromadb
sentence-transformers

langchain-chroma
langchain-ollama
chromadb
psycopg2-binary
pydantic-settings

psycopg2-binary
langchain-community
langchain-experimental